.section-container {
  display: flex;
  flex-direction: column;
}

.section-header {
  display: flex;

}

.section-icon {
  width: 70px;
  font-size: 20px;
}

.icon {
  color: rgb(4, 170, 109);
}

.section-title {
  font-weight: bold;
  white-space: nowrap;
  text-align: start;
  width: 180px;
}

.show-title {
  visibility: visible;
}

.hide-title {
  width: 0;
  visibility: hidden;
}

.section-options {
  height: 100px;
  /* width: 100%; */
  /* background-color: #eee; */
  /* border-bottom: 1px solid #ddd; */
  margin: 8px;
}